{% extends 'base.html' %}
{% load crispy_forms_tags %}
<title>{%block title %}{{ block.super }}:History-Create {% endblock %}</title>
{% block content %}
<div class="container">
    <a class="btn btn-secondary" href="{% url 'patient:patient_list' %}">Back</a>
    <div class="row">
        <div class="col-md-4">
            <!--<b>Add History of </b> <i>{{ patient }}</i>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form method="POST">
                    {% csrf_token %}
                <div class="form-group">
                    {{ form|crispy }}
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}