{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }}:Doctor-List {% endblock %}
{% block content %}

    <div class="container">
        {% if doctor %}
        <link rel="stylesheet" href="{% static 'doctor/css/style.css' %}"/>
        <div class="row">
            <div class="col-md">
                <h6 class="bg-info text-white p-2"><i class="fas fa-user-md"></i> Doctor List</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a id="addbtn" type="button" class="btn btn-success" href="{% url 'doctor:doctor_create' %}">
                <i class="fas fa-plus"></i> Add Doctor
                </a>
            </div>
            <div class="col-md">
                <div class="form-group col-md-4 float-right">
                    <div class="input-group-append">
                         <input class="form-control rounded-0 py-2" type="search" placeholder="search..." id="myInput">
                         <!--<i class="fa fa-search"></i>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="row">




            <div class="table-responsive-sm table-hover">

                <table class="table table-bordered">

                    <thead>
                    <!--<tr>-->
                        <!--<th><a type="button" class="btn btn-success" href="{% url 'doctor:doctor_create' %}">-->
                           <!--<i class="fas fa-plus"></i> Add Doctor-->
                        <!--</a> </th>-->
                    <!--</tr>-->
                    <tr>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Specialist</th>
                        <th>Email</th>
                        <th>Mobile Number</th>
                        <th>Action</th>

                    </tr>
                    </thead>
                        <tbody id="myTable">
                        {% for d in doctor %}
                            <tr>
                                <td><a href=" {% url 'doctor:doctor_info'  d.id %}">{{ d.user }}</a></td>
                                <td> {{ d.first_name }} {{ d.middle_name }} {{ d.last_name }}</td>
                                <td>{{ d.specialist }}</td>
                                <td>{{d.email}}</td>
                                <td>{{d.mobile_no}}</td>


                                <td><a id="updatebtn" type="button" class="btn btn-success" href="{% url 'doctor:doctor_update' d.id %}"> <i class="fas fa-edit"></i> Update</a>  <a id="deletebtn" type="button" class="btn btn-danger" href="#" onclick="alert('Are you sure want to delete this record ?')"><i class="fas fa-trash-alt"></i> Delete</a>
                                <a id="schedulebtn" href="{%url 'doctor:doctor_schedule_list'  d.id %}" type=button" class="btn btn-primary"><i class="fas fa-calendar-alt"></i> Schedule</a>
                                </td>
                            </tr>
                         {% endfor %}
                    <tbody>

                </table>
            </div>

             <div class="row">
            <div class="col-md">
                {% if is_paginated %}
                 <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                      <li class="page-item active"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class=" page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                     {% for i in paginator.page_range %}
                         {% if page_obj.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li class="page-item active"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class=" page-item disabled"><span class="nav-link">&raquo;</span></li>
                    {% endif %}

                  </ul>
                {% endif %}


            </div>
        </div>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                    <script src="{% static 'doctor/js/filtersearch.js' %}">

                    </script>

    {% else %}
        <a type="button" class="btn btn-success" href="{% url 'doctor:doctor_create' %}">
            <i class="fas fa-plus"></i> Add Doctor
        </a>
    {% endif %}
 </div>
 </div>
{% endblock %}