{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<title>{% block title %}{{block.super}}:Doctor-Update{% endblock %}</title>
{% block content %}

<!--<form method="POST">-->
<!--{% csrf_token %}-->
<!--<div class="form-group">-->

<!--{{ form|crispy }}-->

<!--</div><br>-->
<!--<div class="form-group">-->
<!--<button class="btn btn-outline-info mr-auto" type="submit">Save</button>-->
<!--<button class="btn btn-outline-info" type="reset">Cancel</button>-->
<!--</div>-->
<!--</form>-->

<div class="container">
    <div class="row">
        <div class="col-md">
            <h6 class="bg-info text-white p-2"><i class="fas fa-user-edit"></i> Update Doctor</h6>
        </div>
    </div>
   <!--<p>{{ form.errors }}</p>-->
    <form method="post" id="patientForm" data-districts-url="{% url 'doctor:ajax_load_districts' %}"  data-muni-url="{% url 'doctor:ajax_load_muni' %}" data-ward-url="{% url 'doctor:ajax_load_ward' %}" novalidate>

       {% csrf_token %}
        <div class = "row">
            <div class="col-md-12">
                <p class=" p-1" style="color:white;background: #004d4d;"><i class="fas fa-info-circle"></i> Basic Info</p>
            </div>
        </div>

        <div class="row">



            <div class="col-md-2">
                <div class="form-group">
                    <!--<label>{{ form.first_name.label }}</label>-->
                    {{ form.first_name|as_crispy_field }}

                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <!--<label>{{ form.middle_name.label }}</label>-->
                    {{ form.middle_name|as_crispy_field }}

                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <!--<label>-->
                        <!--{{ form.last_name.label }}-->
                    <!--</label>-->
                    {{ form.last_name|as_crispy_field }}
                </div>
            </div>


            <div class="col-md-2">
                <div class="form_group">
                    <!--<label>{{ form.ethical_group.label }}</label>-->
                    {{ form.ethical_group|as_crispy_field }}
                </div>
            </div>

            <div class="col-md-2">
                <div class="form_group">
                    <!--<label>{{ form.sex.label }}</label>-->
                    {{ form.sex|as_crispy_field }}
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <!--<label>-->
                        <!--{{ form.last_name.label }}-->
                    <!--</label>-->
                    {{ form.specialist|as_crispy_field }}
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <!--<label>{{ form.age.label }}</label>-->
                    {{ form.age|as_crispy_field }}
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <!--<label>{{ form.year_of_birth.label }}</label>-->
                    {{ form.email|as_crispy_field }}

                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <!--<label>-->
                        <!--{{ form.citizenship_number.label }}-->
                    <!--</label>-->
                    {{ form.citizenship_number|as_crispy_field }}
                </div>
            </div>


            <div class="col-md-2">
                <div class="form_group">
                    <!--<label>{{ form.mobile_no.label }}</label>-->
                    {{ form.mobile_no|as_crispy_field }}
                </div>
            </div>

            <div class="col-md-2">
                <div class="form_group">
                    <!--<label>{{ form.phone_no.label }}</label>-->
                    {{ form.phone_no|as_crispy_field }}
                </div>
            </div>
        </div>

        <div class = "row">
            <div class="col-md-12">
              <p class=" p-1" style="color:white;background: #004d4d;"><i class="fas fa-map-marker-alt"> </i> Permanent Address </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <!--<label>{{ form.p_province.label }}</label>-->
                    {{ form.p_province|as_crispy_field }}
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <!--<label>{{ form.p_district.label }}</label>-->
                    {{ form.p_district|as_crispy_field }}

                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <!--<label>-->
                        <!--{{ form.p_municipality.label }}-->
                    <!--</label>-->
                    {{ form.p_municipality|as_crispy_field }}
                </div>
            </div>


            <div class="col-md-2">
                <div class="form_group">
                    <!--<label>{{ form.p_ward_no.label }}</label>-->
                    {{ form.p_ward_no|as_crispy_field }}
                </div>
            </div>

            <div class="col-md-2">
                <div class="form_group">
                    <!--<label>{{ form.p_street.label }}</label>-->
                    {{ form.p_street|as_crispy_field }}
                </div>
            </div>
        </div>



        <div class = "row">
            <div class="col-md-12" >
              <p class=" p-1" style="color:white;background: #004d4d;">  <i class="fas fa-map-marker-alt"></i> Temporary Address
                <input id ="check" type="checkbox"/>Same As Permanent Address <i>Click the checkbox if Permanent and Temporary Addresses are same</i></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <!--<label>{{ form.t_province.label }}</label>-->
                    {{ form.t_province|as_crispy_field }}
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <!--<label>{{ form.t_district.label }}</label>-->
                    {{ form.t_district|as_crispy_field }}

                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <!--<label>-->
                        <!--{{ form.t_municipality.label }}-->
                    <!--</label>-->
                    {{ form.t_municipality|as_crispy_field }}
                </div>
            </div>


            <div class="col-md-2">
                <div class="form_group">
                    <!--<label>{{ form.t_ward_no.label }}</label>-->
                    {{ form.t_ward_no|as_crispy_field }}
                </div>
            </div>

            <div class="col-md-2">
                <div class="form_group">
                    <!--<label>{{ form.t_street.label }}</label>-->
                    {{ form.t_street|as_crispy_field }}
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>

    </form>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'doctor/js/citizenship.js' %}"></script>

<script src="{% static 'doctor/js/locationfill.js' %}"></script>

<script src="{% static 'doctor/js/locationfilter.js' %}"></script>

<-- for temporary address -->
<script src="{% static 'doctor/js/locationfiltert.js' %}"></script>

  <!-- for temporary addreess-->
<script src="{% static 'doctor/js/locationfillt.js' %}"></script>

{% endblock %}



