{% extends 'base.html' %}
{% load crispy_forms_tags %}
<title>{% block title %}{{block.super}}:Create_Appointment{% endblock %}</title>
{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">

            {{ form|crispy }}

        </div><br>
        <div class="form-group">
            <button class="btn btn-outline-info mr-auto" type="submit">Save</button>
            <button class="btn btn-outline-info" type="reset">Cancel</button>
        </div>
    </form>

{% endblock %}
