{% extends 'base.html' %}
{% load static %}
<title>{%block title %}{{ block.super }}:Medicine_List {% endblock %}</title>
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <a id="addbtn" type="button" class="btn btn-success" href="{% url 'medicine:medicine_create' %}">
                           <i class="fas fa-plus"></i> Add Medicine
            </a>
        </div>
        <div class="col-md">
            <div class="form-group col-md-4 float-right">
                    <div class="input-group-append">
                         <input class="form-control rounded-0 py-2" type="search" placeholder="search..." id="myInput">

                    </div>
            </div>
        </div>
    </div>


    {% if medicine %}
            <link rel="stylesheet" href="{% static 'medicine/css/style.css' %}"/>
            <div class="table-responsive-sm table-hover">

                <table class="table table-bordered">

                    <thead>

                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Expiry Date</th>

                        <th>Action</th>

                    </tr>
                    </thead>
                        <tbody id="myTable">
                        {% for m in medicine %}
                            <tr>
                                <td>{{ m.name }}</td>
                                <td>{{ m.quantity }}</td>
                                <td>{{ m.price }}</td>
                                <td>{{ m.expiry_date }}</td>



                                <td><a id ="updatebtn" type="button" class="btn btn-success" href="{% url 'medicine:medicine_update' m.id %}"> <i class="fas fa-edit"></i> Update</a>  <a id="deletebtn" type="button" class="btn btn-danger" href="#" onclick="alert('Are you sure want to delete this record ?')"><i class="fas fa-trash-alt"></i> Delete</a></td>
                            </tr>
                         {% endfor %}
                    <tbody>

                </table>
            </div>
        <div class="row">
            <div class="col-md">
                {% if is_paginated %}
                 <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                      <li class="page-item active"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                      <li class=" page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                     {% for i in paginator.page_range %}
                         {% if page_obj.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                      <li class="page-item active"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                      <li class=" page-item disabled"><span class="nav-link">&raquo;</span></li>
                    {% endif %}

                  </ul>
                {% endif %}


            </div>
        </div>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                    <script src="{% static 'medicine/js/script.js' %}">

                    </script>

    {% else %}
        <a type="button" class="btn btn-success" href="{% url 'medicine:medicine_create' %}">
            <i class="fas fa-plus"></i> Add Medicine
        </a>
    {% endif %}
</div>
{% endblock %}