{% extends 'base.html' %}
<title>{%block title %}{{ block.super }}:Observation-List {% endblock %}</title>
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md">
            <a class="btn btn-secondary" href="{% url 'patient:patient_list' %}">Back</a>
        </div>
    </div>
    <div class="row">

    {% if observation %}

            <div class="table-responsive-sm table-hover">
                    <div class="form-group col-md-4 float-right">
                    <div class="input-group-append">
                         <input class="form-control rounded-0 py-2" type="search" placeholder="search..." id="myInput">
                         <i class="fa fa-search"></i>
                    </div>


                </div>
                <table class="table">

                    <thead>
                    <th> Observation of  <i>{{ patient}}</i></th>
                    <tr>

                        <th>ID</th>
                        <th>Doctor</th>
                        <th>Height</th>
                        <th>Weight</th>
                        <th>Sugar</th>
                        <th>BP</th>
                        <th>Temperature</th>
                        <th>Comment</th>
                        <th>Created Date</th>


                        <th>Action</th>

                    </tr>
                    </thead>
                        <tbody id="myTable">
                        {% for o in observation %}
                            <tr>
                                <td>{{ o.id }}</td>
                                <td>{{ o.doctor }}</td>
                                <td>{{ o.height }}</td>
                                <td>{{ o.weight }}</td>
                                <td>{{ o.sugar }}</td>
                                <td>{{ o.BP }}</td>
                                <td>{{ o.temperature }}</td>
                                <td>{{ o.comment }}</td>
                                <td>{{ o.create_date }}</td>




                                <td><a type="button" class="btn btn-success" href="{% url 'observation:observation_update' o.id %}"> <i class="fas fa-edit"></i> Update</a>  <a type="button" class="btn btn-danger" href="#" onclick="alert('Are you sure want to delete this record ?')"><i class="fas fa-trash-alt"></i> Delete</a></td>
                            </tr>
                         {% endfor %}
                    <tbody>

                </table>
            </div>

    {% endif %}

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                    <script>
                    $(document).ready(function(){
                      $("#myInput").on("keyup", function() {
                        var value = $(this).val().toLowerCase();
                        $("#myTable tr").filter(function() {
                          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                      });
                    });
                    </script>


</div>
</div>
{% endblock %}