{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<title>{%block title %}{{ block.super }}:Observation-List {% endblock %}</title>
{% block content %}
<div class="container">
     <div class="row pb-1">
        <div class="col-md">
            <a class="btn btn-link" href="{% url 'home:dashboard' %}">Dashboard</a>/<a class="btn btn-link" href="{% url 'patient:patient_list' %}">Patient</a>/<a class="btn btn-link disabled" href="{% url 'observation:observation_list' patient.id %}">Observation</a>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-md">
            <p class="bg-info font-weight-bold text-white p-2"> Observation of  <i>{{ patient}}</i></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 border border-primary p-2">
            <form method="POST" class="clearfix">
                <h6 class="bg-primary text-white p-1"><i class="fas fa-plus-square"></i> Create Observation</h6>
                    {% csrf_token %}
                <div class="form-group">
                    {{ form|crispy }}
                </div>

                <div class="form-group float-right">
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                </div>
            </form>
        </div>

        <div class="col-md-8">

    {% if observation %}
            <link rel="stylesheet" href="{% static 'observation/css/style.css' %}"/>
                <!--<div class="form-group col-md-4 float-right">-->
                    <!--<div class="input-group-append">-->
                         <!--<input class="form-control rounded-0 py-2" type="search" placeholder="search..." id="myInput">-->
                         <!--<i class="fa fa-search"></i>-->
                    <!--</div>-->
            <div class="table-responsive">


                <div class="form-group col-md-4 float-right">
                        <div class="input-group-append">
                             <input class="form-control rounded-0 py-2" type="search" placeholder="search..." id="myInput">

                        </div>


                    </div>

                <table class="table table-bordered">

                    <thead>

                    <tr>

                        <th>ID</th>

                        <th>Height</th>
                        <th>Weight</th>
                        <th>Sugar</th>
                        <th>BP</th>
                        <th>Temperature</th>
                        <th>Comment</th>
                        <th>Created Date</th>


                        <th>Action</th>

                    </tr>
                    </thead>
                        <tbody id="myTable">
                        {% for o in observation %}
                            <tr>
                                <td>{{ o.id }}</td>

                                <td>{{ o.height }}</td>
                                <td>{{ o.weight }}</td>
                                <td>{{ o.sugar }}</td>
                                <td>{{ o.BP }}</td>
                                <td>{{ o.temperature }}</td>
                                <td>{{ o.comment }}</td>
                                <td>{{ o.create_date }}</td>




                                <td><a id="updatebtn" type="button" class="btn btn-success" href="{% url 'observation:observation_update' o.id %}"> <i class="fas fa-edit"></i> Update</a> </td>
                            </tr>
                         {% endfor %}
                    <tbody>

                </table>
            </div>
            </div>
             </div>
    {% endif %}

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                    <script src="{% static 'observation/js/filtersearch.js' %}">

                    </script>


</div>
</div>
{% endblock %}