.table-responsive-sm{
    font-size: 12px;
}

#addbtn{
    font-size: 12px;
    font-weight: bold;
}
#updatebtn{
    font-size: 12px;
    font-weight: bold;
}

#deletebtn{
    font-size: 12px;
    font-weight: bold;
}

