table{
    font-size: 12px;
}
#updatebtn{
    font-size: 12px;
    font-weight: bold;
}
#schedulebtn{
    font-size: 12px;
    font-weight: bold;
}
#deletebtn{
    font-size: 12px;
    font-weight: bold;
}
#addbtn{
    font-size: 12px;
    font-weight: bold;
}